.file-list-box {
}

.vis_0 {
  visibility: hidden;
}
.vis_1 {
  visibility: visible;
}

.dropdown-menu > .disabled > a i.text-primary,
.dropdown-menu > .disabled > a i.text-warning,
.dropdown-menu > .disabled > a i.text-danger,
.dropdown-menu > .disabled > a i.text-info,
.dropdown-menu > .disabled > a i.text-success,
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
<<<<<<< HEAD
.dropdown-menu > .disabled > a:focus{
  color:#ccc;
=======
.dropdown-menu > .disabled > a:focus {
  color: #ccc;
>>>>>>> a3c34812de130a3964bc82c152cfbffc0e61eba5
}
